{% extends "flights/base.html" %}
{% block title %}
    Flight {{flight.id}}
{% endblock %}

{% block body %}
    <h1>Flight {{flight.id}}</h1>
<ul>
    <li>
        origin : {{flight.origin}}
    </li>
    <li>
        destination : {{flight.destination}}
    </li>
    </ul>
<h1>Passengers</h1>
<ul>
    {% for passenger in flight.passengers.all %}
    <li>
        {{passenger.id}}- {{passenger.first_name}} {{passenger.last_name}}
            </li>
    {% empty %}
    <li>no passengers</li>

    {% endfor %}
    </ul>
<a href="{% url 'flights:index' %}">back</a>
{% endblock %}
